<div class="neumorphic-card">
  <h1>Login</h1>
  <input type="text" [(ngModel)]="loginData.userName" class="neumorphic-input" placeholder="Username">
  <input type="email" [(ngModel)]="loginData.email" class="neumorphic-input" placeholder="email">
  <input type="password" [(ngModel)]="loginData.pass" class="neumorphic-input" placeholder="password">
  <button (click)="onclick()" class="neumorphic-button">Sign In</button>
</div>

<div *ngFor="let user of users">
    <h1>{{user.userName}}</h1>
    <h1>{{user.email}}</h1>
    <h1>{{user.pass}}</h1>
</div>
